.content {
  position: relative;
  margin-top: 20rpx;
  padding: 0rpx 20rpx;
  background-color: #FFFFFF;

  .homeNewest {
    width: 100rpx;
    height: 48rpx;
    margin-left: -20rpx;
  }

  .flag_begintime {
    position: absolute;
    top: 0rpx;
    left: 7rpx;
    font-size: 25rpx;
    line-height: 48rpx;
  }

  .user {
    margin-top: 30rpx;

    .userImg {
      width: 80rpx;
      height: 80rpx;
      border-radius: 50%;
    }

    .themes {
      border: 5px solid #ffffff;
      border-right: 10px solid #f5f5f5;
      height: 5rpx;
      position: absolute;
      top: 54px;
      left: 50px;
    }

    .theme {
      margin-left: 30rpx;
      padding: 20rpx;
      background-color: #f5f5f5;
      width: 78%;

      .theme-one {
        color: #999999;
        font-size: 26rpx;

        .name {
          .nameOne{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 160rpx;
          }
          .nameTwo{
            margin-left: 10rpx
          }
        }
      }

      .theme-two {
        margin-top: 20rpx;
        color: #333333;
        font-size: 32rpx;
        font-weight: bold;
      }
    }
  }

  .content-line {
    margin: 30rpx 0rpx;
    font-size: 30rpx;

    .title {
      margin-left: 20rpx;
    }

    .detail {
      color: #999999;
      font-size: 28rpx;
      margin: 20rpx 20rpx 0rpx 60rpx;
      word-wrap: break-word;
      word-break: normal;
      line-height: 32rpx;
      letter-spacing: 2rpx;
    }
  }

  .lineation {
    margin: 30rpx 0rpx;
    border-bottom: 1px solid #E0E0E0;
  }

  .join_people {
    display: flex;
    margin: 40rpx 0rpx 10rpx;
    flex-wrap: wrap;

    .join_user {
      width: 33.3%;
      margin-bottom: 30rpx;
      justify-content: center;
    }

    .left {
      margin-right: 10rpx;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .userImg {
        width: 70rpx;
        height: 70rpx;
        border-radius: 50%;
      }

      .is_join {
        position: absolute;
        top: 48rpx;
        width: 64rpx;
        height: 26rpx;
        font-size: 18rpx;
        border-radius: 16rpx;
        text-align: center;
        color: #ffffff;
        padding: 5rpx;
      }

    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 28rpx;
      width: 120rpx;

      .name {
        font-size: 20rpx;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .date {
        font-size: 17rpx;
        color: rgba(153, 153, 153, 1);
      }
    }

  }

  .content-residue {
    color: #999999;
    margin-left: 10px;
  }

  .btn {
    margin: 20rpx 0rpx;

    .is_join {
      margin-right: 40rpx;
    }

    button {
      height: 88rpx;
      width: 320rpx;
      font-size: 32rpx;
      line-height: 88rpx;
    }
    .share {
      .share-line {
        background-color: #f8f8f8 !important;
        color: #000 !important;
        border: 1px solid #E0E0E0 !important;
      }
    }
  }

  .modal-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    overflow: hidden;
    z-index: 9000;
    color: #fff;
  }

  .modal-dialog {
    width: 600rpx;
    overflow: hidden;
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 9999;
    background: hsla(0, 0%, 100%, 1);
    margin: -280rpx 75rpx;
    border-radius: 30rpx;
  }

  .modal-content {
    .title {
      font-size: 34rpx;
      font-weight: bold;
      padding: 50rpx;
      border-bottom: 0.5rpx solid #E0E0E0;
      text-align: center;
      color: rgb(0, 0, 0);
    }

    .option {
      width: 100%;
      padding-top: 10rpx !important;
      border-top: 0rpx solid #E0E0E0 !important;
      border-bottom: 1rpx solid #E0E0E0 !important;
      border-left: 0rpx solid #E0E0E0 !important;
      border-right: 0rpx solid #E0E0E0 !important;
      border-radius: 0px !important;
      text-align: center !important;
      color: rgb(0, 0, 0) !important;
      height: 110rpx !important;
      font-size: 32rpx !important;
      line-height: 50rpx !important;

      .option-line {

        // margin-top: 20rpx;
        .explain {}

        .explains {
          font-size: 24rpx;
          color: #999999;
        }
      }


    }


  }

  .modal-footer {
    height: 100rpx;
    font-size: 32rpx;
    line-height: 95rpx;

    .btn-cancel {
      width: 100%;
      height: 100rpx;
      color: hsla(119, 74%, 39%, 1);
      text-align: center;
    }
  }

  .water_top {
    .water-text {
      color: #C3191B;
      text-align: center;
      font-size: 26px;
      margin: 408rpx 265rpx 0rpx 75rpx !important;
      padding: 20rpx 24rpx !important;
      border: 6rpx solid #C3191B;
      letter-spacing: 16rpx;
      font-weight: 600;
    }
  }

}