.putactivity {
  margin: 40rpx 30rpx;

}

.section {
  margin-top: 20rpx;
  padding: 0rpx 25rpx;
  background-color: #FFFFFF;

  .line {
    height: 52rpx;
    padding: 16rpx 0px;
    font-size: 30rpx;
    border-bottom: 1rpx solid #DADADA;

    &:last-child {
      border-bottom: 0rpx solid #DADADA;
    }

    .title {
      margin-right: 30rpx;
    }

    .detailed {
      position: relative;


      .text {
        color: #999999;
      }

      .selected {
        color: #333333;
      }

      .picker {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
      }
    }

    .icon-more {
      width: 30rpx !important;
      height: 30rpx !important;
      margin-right: 12rpx !important;
    }

    .textMap {
      font-size: 26rpx;
      margin: 5rpx 90rpx;
      color: #999999;
    }
  }

  .lineChecked {
    padding: 15rpx 0px;
    border-top: 1rpx solid #DADADA;

    .title {
      margin-right: 30rpx;
    }

    .detailed {
      position: relative;

      .text {
        color: #999999;
      }
    }

    .minutes {
      margin-right: 25rpx;
    }

    .text {
      font-size: 24rpx;
      color: #999999;
      margin-top: 10rpx;
      margin-bottom: 10rpx;
    }
  }

  .description {
    position: relative;
    margin: 30rpx 0rpx;

    .text-box {
      margin-top: 20rpx;

      .textArea {
        width: 100%;
        height: 130px;
      }

      .wordwrap {
        position: absolute;
        bottom: 10rpx;
        right: 0;
        color: rgba(153, 153, 153, 1);
      }
    }
  }

  .activity_remind {
    position: relative;
    padding: 24rpx 0rpx;
    background-color: #FFFFFF;

    .text {
      font-size: 32rpx;
      padding-right: 15rpx;
    }

    .icon {
      width: 45rpx;
      height: 45rpx;
    }

    .switch {
      position: absolute;
      right: 10rpx;

    }

  }
}